.mdl-card{
  border-radius: 5px;
  margin: auto;
}

#Generalo{
  display: flex;
  align-content:space-around;
  flex-direction:row;
  flex-wrap:wrap;
}

.mdl-dialog{
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 600px){
  .mdl-card {
  width: 100%;
  margin: auto auto 15px;
    border-radius: 0;
  }
  #Kartya{
    padding: 5px;
  }
  .mdl-card__actions{
    padding: 10px;
  }
  footer{
    /*Footer eltüntető*/
    display: none !important;
  }
  .mdl-dialog{
    height: 100%;
    width: 100%;
  }
}