.mdl-mini-footer{
    position:fixed;
    bottom:0;
    width: 100%;
  height:0;
    background: #102027;
    align-content: center;
  flex-direction:row;
  flex-wrap:wrap;
  align-content:space-around;
  }
.mdl-mini-footer__link-list{
  display:flex;
  flex-direction:row;
  align-content:space-around;
}
a{
  margin:inherit;
  
}
#AdminLOG{
  color: #62727b;
}