.mdl-mini-footer{
    position:fixed;
    bottom:0;
    width: 100%;
  height:0;
    background: #102027;
    /*border-radius: 15px 15px 0px 0px;*/
    align-content: center;
  }

#AdminLOG{
  color: #62727b;
}