.demo-card-wide.mdl-card {
    width: 50%;
  margin: auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 50%;
    background-color: #b71c1c;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #62727b;
  }
body{
  background-color: #37474f;
}
footer{
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #102027;
    /*border-radius: 15px 15px 0px 0px;*/
    align-content: center;
  z-index: 5;
  }
#Kartya{
  padding: 50px;
}

#AdomanyBejelentkez{
  color: #7f0000;
  border-radius: 5px;
}

@media screen and (max-width: 600px){
  .demo-card-wide.mdl-card {
    width: 100%;
  margin: auto;
  }
  #Kartya{
    padding: 5px;
  }
  .mdl-card__actions{
    padding: 10px;
  }
  footer{
    /*Footer eltüntető*/
    display: none !important;
  }
}

a{
  text-decoration: none;
  color: #7f0000;
}