body{
  background-color: #37474f;
  align-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Login{
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-content: center;
  width: 50%;
  margin: auto;
  text-align: center;
  border-style:groove;
  color: white;
  border-radius: 15px;
  background-color: #b71c1c;
  color: whitesmoke;
}
#Login input{
  margin: 5px;
  border-radius: 15px;
  border-style:solid;
  border-color: #62727b;
}

#Login #LogIN{
  border-radius: 15px;
  background-color: #102027;
  color: white;
}
@media screen and (max-width: 700px){
  #Login{
      display: flex;
    width: 100%;
    border-style: none;
    border-spacing:0px;
    
  }
}
footer{
position: fixed;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #102027;
  border-radius: 15px 15px 0px 0px;
  align-content: center;
}
#footerdown{
  display:inline;
  flex-direction: column;
  flex-flow:column;
  align-content:space-around;
}
#footerdown a{
  color: #f05545;
  padding: 5px;
  transition: 0,3s;
  transition-duration: 0,3s;
}
#footerdown a:hover{
  color: #b71c1c;
  transition-duration: 0,3s;
}
@media screen and (max-height: 400px){
  footer{
    height: 20px;
  }
  #Login input{
  margin: 0px;
  }
}