.mdl-layout__header{
    background-color: #b71c1c;
  }
body{
  background-color: #37474f;
}

/*
Interface kiegészítők
*/
#nev{
  color: white;
  padding: 0px 0px 0px 15px;
}
#koszonto{
  color: white;
  padding: 0px 0px 0px 15px;
}